name: Jokes Bot Final
on:
  workflow_dispatch:
  schedule:
    - cron: '0 */3 * * *'
jobs:
  run_bot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - run: pip install -r requirements.txt
      - name: Запуск бота
        uses: nick-invision/retry@v2
        with:
          timeout_minutes: 5
          max_attempts: 2
          retry_wait_seconds: 600
          command: python main.py
        env:
          GROQ_API_KEY: ${{ secrets.GROQ_API_KEY }}
          TG_BOT_TOKEN: ${{ secrets.TG_BOT_TOKEN }}
          TG_CHANNEL_ID: ${{ secrets.TG_CHANNEL_ID }}
